html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0; 
}

header, footer {
    background-color: #1F2937;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

/* REMOVES DEFAULT STYLING OF UNORDERED LISTS AND ANCHOR ELEMENTS */

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

a {
    text-decoration: none;

    color: #E5E7EB;
    font-size: 18px;
}